body {
    margin: 0;
    height: 100vh;
    background: #0d1117;
    color: #e6eef8;
        font-family: "Lobster", sans-serif; 

}
#container-header {
    background-color:#ffffff04;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    
}

#container-header ul {
    display: flex;
    gap: 20px;
    list-style: none;

    
}
#container-header a{ 
    font-weight: bolder;
    background-color: #ffffff1e;
        border: 2px solid #0000005b;
border-radius: 90px 90px 90px 90px;
-webkit-border-radius: 90px 90px 90px 90px;
-moz-border-radius: 90px 90px 90px 90px;
    padding: 10px 15px 10px 15px;
    font-family: "Lobster", sans-serif; 
color: #e6eef8;
font-size: 15px;
text-decoration: none;

}
 #container-header a:hover{
     background-color: #ffffff7c;
    border-color: #101010;
    transform:rotate(2.5px);
    transition: 0.25s ease; 
    color: #000000;
    padding: 8px 13px 8px 13px;
 }
 #info , h1{
    text-align: center;
    margin-top: 5%;
 }
 #info p ,a{
font-size: 1.6rem;
text-decoration: none;
color: aliceblue;

 }
 #info p a{
        font-weight: bolder;
    background-color: #ffffffe1;
        border: 2px solid #0000005b;
border-radius: 90px 90px 90px 90px;
-webkit-border-radius: 90px 90px 90px 90px;
-moz-border-radius: 90px 90px 90px 90px;
    padding: 5px 11px 6px 11px;
    color: #000000;
    width: fit-content;
 }
#a:hover{
transform: scale(0.8) skew(1deg);
-webkit-transform: scale(0.8) skew(1deg);
-moz-transform: scale(0.8) skew(1deg);
transition: 0.50s ease; 
}
#info p a:hover{
color: #ffffffe1;
background-color: #1e80008b;
}
 h1{
    font-size: 1.8rem;
 }
 .bg-balls {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: -1;
}

.ball {
    position: absolute;
    width: 50px;
    height: 50px;
    background: radial-gradient(circle, #002428, #002a69);
    filter: blur(7px);
    border-radius: 50%;
    opacity: 0.35;
    animation: float 12s infinite linear;
}

@keyframes float {
    0% { transform: translate(0, 0) scale(1); }
    50% { transform: translate(50px, -40px) scale(1.2); }
    100% { transform: translate(0, 0) scale(1); }
}
 @media (max-width: 980px){
#info p,a{
    font-size: 1.9em;
    line-height: 70px;
}
}
@media (max-width: 480px) {
#info p,a{
    font-size: 1.3rem;
    line-height: 35px;
}
}
@media (max-width: 768px) {
#info p,a{
    font-size: 1.3rem;
    line-height: 35px;
}
}

 