html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url("../images2/background.png");
    background-size: cover;       /* مهم */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /* اختیاری — ثابت نگه می‌داره */
    
    color: #e6eef8;
    font-family: "Lobster", sans-serif;
}

#container-header {
    background-color:#ffffff04;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    margin-bottom: 80px;
    
}

#container-header ul {
    display: flex;
    gap: 20px;
    list-style: none;

    
}
#container-header a{ 
    font-weight: bolder;
    background-color: #ffffff1e;
        border: 2px solid #0000005b;
border-radius: 90px 90px 90px 90px;
-webkit-border-radius: 90px 90px 90px 90px;
-moz-border-radius: 90px 90px 90px 90px;
    padding: 10px 15px 10px 15px;
    font-family: "Lobster", sans-serif; 
color: #e6eef8;
font-size: 15px;
text-decoration: none;

}
 #container-header a:hover{
     background-color: #ffffff7c;
    border-color: #101010;
    transform:rotate(2.5px);
    transition: 0.25s ease; 
    color: #000000;
    padding: 8px 13px 8px 13px;
 }


 .container{
  width:100%;
  max-width:400px;
    background: rgba(255, 255, 255, 0.01); 
    backdrop-filter: blur(10px);          
    -webkit-backdrop-filter: blur(10px);  
  padding:30px 25px;
  border-radius:20px;
    border: 1px solid rgba(255, 255, 255, 0.2); 
  display:flex;
  flex-direction:column;
  align-items:center;
  margin: 0 auto;
  height: 500px
}

.tabs{
  display:flex;
  justify-content:space-around;
  width:100%;
  margin-bottom:30px;
}

.tab{
  flex:1;
  text-align:center;
  padding:18px;
  cursor:pointer;
  border-bottom:2px solid transparent;
  transition:0.3s;
  font-weight:bold;
}

#login-tab:checked ~ .tabs label[for="login-tab"]{
  border-color:#22d3ee;
  color:#22d3ee;
}

#register-tab:checked ~ .tabs label[for="register-tab"]{
  border-color:#22d3ee;
  color:#22d3ee;
}

.forms{
  position:relative;
  width:100%;
}

.form{
  display:none;
  flex-direction:column;
  gap:14px;
  animation: fade .4s ease;
}

.field{
  gap:6px;
  display:flex;
  flex-direction:column;
  margin:5px 0
}

.field label {
  text-align:right;   
}

input{
  padding:12px;
  border-radius:10px;
  border:1px solid #00000025;
  background:#0000002d;
  color:#e5e7eb;
  transition: all .2s ease;
  text-align:right;  
}

input:focus{
  border-color:#22d3ee;
  box-shadow:0 0 8px #22d3ee88;
  outline:none;
}

button{
  padding: auto 50px auto 50px;
  border:none;
  border-radius:12px;
  background:#0000006a;
  color:#ffffff;
  font-weight:bold;
  cursor:pointer;
  box-shadow:0 6px 14px rgba(0, 0, 0, 0.4);
  transition:transform .15s ease, box-shadow .2s;
   height:40px;
}

button:hover{
  box-shadow:0 4px 13px rgba(255, 255, 255, 0.312);
  transform:translateY(-2px);
    height:50px;
}

button:active{
  transform:translateY(1px);
   height:50px;
}

#login-tab:checked ~ .forms .login-form{
  display:flex;
}

#register-tab:checked ~ .forms .register-form{
  display:flex;
}
h2{
    text-align: center;
}








@media (max-width: 480px) {
.container {
  max-width: 100%;     
  margin: 20px auto;   
  padding: 20px;      
  box-sizing: border-box; 
}

}
@media (max-width: 768px) {
.container{
  height: 600px;
}
.login-form{
  margin-top: 50px;
}
}

