body {
    margin: 0;
    height: 100vh;
    background: #0d1117;
    color: #e6eef8;
        font-family: "Lobster", sans-serif; 

}
#container-header {
    background-color:#ffffff04;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    
}

#container-header ul {
    display: flex;
    gap: 20px;
    list-style: none;

    
}
#container-header a{ 
    font-weight: bolder;
    background-color: #ffffff1e;
        border: 2px solid #0000005b;
border-radius: 90px 90px 90px 90px;
-webkit-border-radius: 90px 90px 90px 90px;
-moz-border-radius: 90px 90px 90px 90px;
    padding: 10px 15px 10px 15px;
    font-family: "Lobster", sans-serif; 
color: #e6eef8;
font-size: 15px;
text-decoration: none;

}
 #container-header a:hover{
     background-color: #ffffff7c;
    border-color: #101010;
    transform:rotate(2.5px);
    transition: 0.25s ease; 
    color: #000000;
    padding: 8px 13px 8px 13px;
 }
 .container {
width: 90%;
max-width: 600px;
padding: 40px;
border: 1px solid #444;
border-radius: 12px;
backdrop-filter: blur(10px);
box-shadow: 0 0 30px rgba(255,255,255,0.05);
animation: fadeIn 1s ease forwards;
}


@keyframes fadeIn {
from { opacity: 0; transform: translateY(20px); }
to { opacity: 1; transform: translateY(0); }
}


h1 {
text-align: center;
margin-bottom: 40px;
color: #e6e6e6;
letter-spacing: 2px;
}


.row {
display: flex;
flex-direction: column;
margin-bottom: 25px;
}


label {
margin-bottom: 8px;
font-size: 15px;
color: #ffffff;
text-align: right;
}


input, textarea ,.p{
width: 100%;
background: #ffffff04;
border: 1px solid #555;
border-radius: 6px;
padding: 12px;
font-size: 14px;
color: #fff;
transition: 0.3s;
text-align: right;
}
.p , a{
    text-align: center;
    color: #fff;
}
input:focus, textarea:focus {
border-color: #fff;
box-shadow: 0 0 10px rgba(255,255,255,0.2);
}


textarea {
height: 140px;
resize: none;
}


button {
width: 100%;
padding: 10px;
text-align: center;
font-size: 20px;
font-weight: bold;
border-radius: 50px;
}
.bg-balls {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: -1;
}

.ball {
    position: absolute;
    width: 50px;
    height: 50px;
    background: radial-gradient(circle, #002428, #002a69);
    filter: blur(7px);
    border-radius: 50%;
    opacity: 0.35;
    animation: float 12s infinite linear;
}

@keyframes float {
    0% { transform: translate(0, 0) scale(1); }
    50% { transform: translate(50px, -40px) scale(1.2); }
    100% { transform: translate(0, 0) scale(1); }
}
@media (max-width: 1000px) {
.wrapper{
display:flex; 
flex-direction: column;
justify-content: center;
align-items: center;
gap:40px; 

}
.container{
    width: 100%;
}
textarea , input  {
width: 90%;

}
label{
    padding-right: 5%;
}
.p a{
    font-size: 17px;
}
.p{
width: 90%;
}
}
@media (max-width: 768px) {
.wrapper{
display:flex; 
flex-direction: column;
justify-content: center;
gap:40px; 
margin-right: 10%;
}
.container{
    width: 80%;
}
textarea , input  {
width: 90%;
}
label{
    padding-right: 5%;
}
.p a{
    font-size: 17px;
}
.p{
width: 90%;
}

}
